#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* aligns to the top */
  height: 100vh; /* full viewport height */
  margin: 0;
}

input{
  width: 100%;        
  padding: 12px;      
  font-size: 18px;    
  border-radius: 6px; 
}

.controls {
  display: flex;          /* line them up in a row */
  gap: 10px;              /* equal spacing between them */
  margin-bottom: 20px;    /* push the list down */
}

.todo-container {
  margin-top: 0; /* no space from top */
  padding-top: 0;

}

.todo-text {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: gray; /* optional: make it look dimmer */
}

body.light {
  background-color: #e3cece;
  color: #213547;
}

body.dark {
  background-color: #242424;
  color: #ffffff;
}

body.light input,
body.light button {
  background-color: #e3cece;
  color: #213547;
  border: 2px solid #333;
}

body.dark input,
body.dark button {
  background-color: #1a1a1a;
  color: #ffffff;
  border: 2px solid #333;
}
